* {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  user-select: none;
}
body {
  padding-top: 38.5vh;
  background-color: #c9c9c9;
}
#expressionWarp {
  margin-top: 1vh;
  padding-top: 2vh;
  text-align: center;
  width: 100vw;
  height: 13vh;
  background-color: #7d7d7d;
  box-shadow: 0 0 10px #7d7d7d;
}
.consts {
  text-align: right;
  height: 10vh;
  width: 22vh;
  font-size: 10vh;
  background-color: #7d7d7d;
  border: 0;
  outline: 0;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.x {
  height: 10vh;
  width: 20vh;
  font-size: 10vh;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}
#rootWarp {
  margin-top: 1vh;
  padding-top: 1vh;
  text-align: center;
  width: 100vw;
  height: 5vh;
  background-color: #7d7d7d;
  box-shadow: 0 0 10px #7d7d7d;
  font-size: 4vh;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}
